#!/bin/bash
source in.sh
source in1.sh

curl -X POST \
     -H "X-Auth-Email: $email" \
     -H "X-Auth-Key: $api" \
     -H "Content-Type: application/json" \
     -d '[
  {
    "filter": {
      "id": "00000000000000000000000000000000000000000"
    },
    "action": "challenge",
    "description": "challenge wp-login1"
  }
]' "https://api.cloudflare.com/client/v4/zones/$zoneid/firewall/rules"
